.do{
  background-color: aqua;
  display: block;
  align-items: center;
}
.hi{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
.ho{
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}