.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }
  
  .name {
    font-weight: bold;
    max-width: 500px;
  }
  .location {
    font-size: 0.8em;
    color: #6d597a;
  }
  .card {
    /* height: 200px; */
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background: #fff;
    width: 200px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .amount{
    margin-top:0.5rem ;
    font-weight: 600;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .card:hover {
    transform: rotate(-5deg);
  }
  
  .card img {
    /* margin-left: rem; */
    border-radius: 50%;
    max-width: 50px;
  }